body{
    padding:10px
}

/*井字棋样式*/
.game{
    display: flex;
}
.board-area{
    width: 126px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}
.square-button{
    width:40px;
    height: 40px;
    border: 1px solid black;
    background-color: transparent;
}
